BLanguage: Cpp
Standard: Cpp11
AasedOnStyle: Chromium
UseTab: Never
IndentWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: Align
lignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
